@page "/"
@using ExpressionEngine.Shared.DTOs
@inject HttpClient Http

<h3>Expression Engine</h3>
<div>
    <InputText @bind-Value="InputA" placeholder="Field 1" style="width:100px;"/>

    <select @bind="SelectedOperationId" style="width:120px;">
        @foreach (var op in Operations)
        {
            <option value="@op.Id">@op.Name</option>
        }
    </select>

    <InputText @bind-Value="InputB" placeholder="Field 2" style="width:100px;" />

    <button @onclick="Calculate" style="width:100px;">Calculate</button>

    @if (!string.IsNullOrEmpty(Error))
    {
        <div style="color:red">@Error</div>
    }
</div>
<div>
    <textarea rows="4" readonly style="width:445px; margin-top:20px;">@Result</textarea>
</div>
<div style="width:420px;">
    @if (History.Any())
    {
        <h4>Last 3 operations (same type)</h4>
        <ul>
            @foreach (var h in History)
            {
                <li>
                    @h.ValueA , @h.ValueB → @h.Result
                </li>
            }
        </ul>

        <div>
            Total count: @TotalCount
        </div>
    }

</div>

@code {
    string InputA = default!;
    string InputB = default!;
    string Result = default!;
    string Error = default!;

    int SelectedOperationId;

    List<OperationDto> Operations = new();
    List<OperationHistoryDto> History = new();
    int TotalCount;

    protected override async Task OnInitializedAsync()
    {
        Operations = await Http.GetFromJsonAsync<List<OperationDto>>("api/operations")
                        ?? default!;

        if (Operations.Any())
            SelectedOperationId = Operations.First().Id;
    }

    async Task Calculate()
    {
        Error = default!;
        Result = default!;
        TotalCount = default!;
        History.Clear();

        try
        {
            var response = await Http.PostAsJsonAsync("api/calculate", new
            {
                OperationId = SelectedOperationId,
                ValueA = InputA,
                ValueB = InputB
            });

            if (!response.IsSuccessStatusCode)
            {
                Error = await response.Content.ReadAsStringAsync();
                Result = default!;
                TotalCount = default!;
                History.Clear();

                return;
            }

            var calcResult = await response.Content.ReadFromJsonAsync<CalculateResultDto>();

            if (calcResult is not null)
            {
                Result = calcResult.Result;
                History = calcResult.LastOperations;
                TotalCount = calcResult.TotalCount;
            }
        }
        catch
        {
            Error = "An unexpected error occurred. Please try again.";
        }
    }
}
